VITE_SUPABASE_URL= postgresql://postgres:SAEP!262728@db.wygtpoisrlkrepeboush.supabase.co:5432/postgres
VITE_SUPABASE_ANON_KEY= eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind5Z3Rwb2lzcmxrcmVwZWJvdXNoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODgzNzE3OTUsImV4cCI6MjEwMzk0Nzc5NX0.cyo726S4mrFztXnk8TVlH1ztqSFEWEvVCbcOpo4TxHw
